.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    border: 3px dashed gray;
    width: 100vw;
}

.NavLink{
  display: flex;
  justify-content: center;
  width: 15vw;
  padding: 0px 0px;
  margin: 0px 0px;
}